.hero {
  background: url("img/cover.png") no-repeat center center;
  background-size: cover;
  height: 75vh;
  overflow: hidden; }


.message {
  margin-bottom: 4.3rem;
}

.grey-band {
  background-color: #F1F2F4;
  background-size: cover;
  overflow: hidden; 
}

.white-band {
  background-color: #ffffff;
  background-size: cover;
  overflow: hidden; 
}

.banner{
  margin-top: 4em;
  margin-bottom: 4em;
}

h2 {
  margin-bottom: 3rem;
}

.dropdown.button:before{
  width: 10px;
  height: 10px; 
  border: none;
  background: url("img/cover.png") no-repeat;
}